//cst
//?using System;
//?using System.Collections.Generic;
//?using System.Diagnostics;
//?using System.IO;
//?using System.Linq;
//?using System.Text;
//?using System.Threading.Tasks;
internal sealed class FileVersionTemplate : CheckTemplate
{
private readonly SafeString FilePath;
/// <summary>
/// A file version check template
/// </summary>
/// <param name="args">[0:FilePath],[1:FileVersion]</param>
internal FileVersionTemplate(params string[] args)
{
if (args.Length < 2)
Enabled = false;
FilePath = args[0];
}
/// <summary>
/// Get the check value
/// </summary>
/// <returns></returns>
internal override async Task<uint> GetCheckValue()
{
if (!File.Exists(FilePath))
{
return PrepareState("");
}
var version = await Task.FromResult<uint>(PrepareState(FileVersionInfo.GetVersionInfo(FilePath).FileVersion));
return version;
}
}
